/* Colors and Fonts */


body {
	background: #FFFFFF;
	color:  #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Kanit', sans-serif;
}
h1 {
	color: #000000;
	font-size: 32px;
	font-weight: 900;
	font-weight: bolder;
}
h2 {
	color: #000000;
	font-size: 24px;
	font-weight: lighter;
	font-weight: 500; 
}

a {
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: yellow;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color: yellow;
}

/*Custom design with class*/

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
.container {width:600px}
}

@media (max-width: 500px) {
.container {width: 400px;}
 }

.card-white {
	background: white;
	border: 1px solid black;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0, 1);
	margin: 20px 0px;
	text-align: center;
}

.card-blue {
	text-align: center;
	padding: 40px;
}

.card-yellow {
	text-align: center;
	padding: 40px;
}
.img-circle {
	border-radius: 50%;
}

.btn-yellow {
	background-color: yellow;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-yellow:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 40px;
	color: yellow;
}

.list-inline i:hover {
	color: black;
    text-decoration: none;
}

#introduction p {
	margin-bottom: 40px;
}


















